<div class="bg">
  <h1 style= "text-align: center; color: white; text-decoration: underline;">PRIVATE LIMITED COMPANY</h1>
 <div class="form">
<h1 id="title">......!!!Conference Room Reservation!!!......
</h1>
  
<form [formGroup]='info' (ngSubmit)="onSubmit(info.value)">
  <input type="text" formControlName="name" size="50" 
  placeholder="Name"><br><br>

  <input type="text" formControlName="email" size="50" 
  placeholder="Email"><br><br>

  <input type="text" formControlName="attendees" size="10" 
  placeholder="attendees"><br><br> 

  <input type="text" formControlName="position" size="20" 
  placeholder="position"><br><br> 

  <input type="text" formControlName="department" size="20" 
  placeholder="department"><br><br> 

  <input type="text" formControlName="date" size="10" 
  placeholder="Date"><br><br> 

  <input type="text" formControlName="StartTime" size="10" 
  placeholder="StartTime"><br><br> 

  <input type="text" formControlName="EndTime" size="10" 
  placeholder="EndTime"><br><br> 

  <input type="text" formControlName="SpecialInstruction" size="20" 
  placeholder="SpecialInstruction"><br><br> 

  <button type="submit">Submit</button>
  </form>

 </div>
 </div>